@charset "UTF-8";
body {
  margin: 0;
}

a,
ul,
li,
h6,
p,
h3 {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header {
  border-bottom: 2px solid #f99135;
}

.header .top {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

.header .top .top-center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header .top .top-center a {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #9a9a9a;
  text-decoration: none;
}

.header .top .top-center .left {
  float: left;
  line-height: 40px;
}

.header .top .top-center ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .top .top-center ul li {
  display: inline-block;
  line-height: 40px;
}

.header .top .top-center ul li a {
  display: inline-block;
  padding: 0px 20px;
  line-height: 14px;
}

.header .top .top-center ul li:last-child a {
  border-left: 1px solid #9a9a9a;
  padding-right: 0px;
}

.header .foot {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .foot .foot-left {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .foot .foot-left .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .foot .foot-left .nav ul li {
  display: inline-block;
  position: relative;
}

.header .foot .foot-left .nav ul li span {
  font-size: 16px;
  color: #313131;
}

.header .foot .foot-left .nav ul li .nav-menu {
  border: 8px solid transparent;
  border-top-color: #313131;
  position: absolute;
  top: -10px;
}

.header .foot .center {
  width: 500px;
  height: 100%;
}

.header .foot .center ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.header .foot .center ul li {
  display: inline-block;
  line-height: 90px;
}

.header .foot .center ul li a {
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
  color: #1b1b1b;
  text-decoration: none;
}

.header .foot .center ul li:hover {
  background-color: #f99135;
}

.header .foot .center ul li:hover a {
  color: #ffffff;
}

.header .foot .right {
  position: relative;
}

.header .foot .right input {
  width: 340px;
  height: 44px;
  border-radius: 22px;
  border: solid 2px #f99135;
}

.header .foot .right ::placeholder {
  font-size: 16px;
  color: #bfbfbf;
  padding-left: 20px;
}

.header .foot .right button {
  width: 70px;
  height: 44px;
  background-color: #f99135;
  border-radius: 22px;
  border: none;
  position: absolute;
  right: 0px;
}

table {
  width: 1200px;
  height: 274px;
  border: solid 1px #e5e5e5;
  margin: 40px auto;
}

table td {
  padding: 10px 30px 10px 15px;
  display: flex;
}

table td span {
  width: 80px;
  font-size: 14px;
  line-height: 25px;
  color: #999999;
}

table td ul {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #e5e5e5;
}

table td ul li {
  margin: 1px 15px;
  font-size: 14px;
  line-height: 25px;
  color: #333333;
  text-align: center;
  height: 35px;
}

table td ul .all {
  color: #fffefe;
  width: 46px;
  height: 28px;
  background-color: #f99135;
  border-radius: 14px;
}

.content li {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 15px 10px 0;
  box-sizing: border-box;
  border-bottom: solid 1px #e5e5e5;
}

.content li .first-box {
  display: flex;
  font-weight: bold;
  line-height: 25px;
  color: #333333;
}

.content li .first-box .box {
  width: 4px;
  height: 18px;
  background-color: #f99135;
}

.content li .screen {
  background-image: url(../images/影院/);
  font-size: 13px;
  line-height: 25px;
  color: #666666;
}

.content li h6 {
  font-size: 16px;
  line-height: 25px;
  color: #333333;
}

.content li p {
  font-size: 14px;
  line-height: 25px;
  color: #999999;
}

.content li button {
  font-size: 12px;
  line-height: 20px;
  color: #509fc9;
  border-radius: 3px;
  border: solid 1px #509fc9;
  height: 20px;
}

.content li a {
  display: inline-block;
  width: 80px;
  height: 30px;
  background-color: #f99135;
  border-radius: 15px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.content li span {
  font-size: 14px;
  font-weight: bold;
  color: #f03d37;
  margin-right: 60px;
}

[aria-label="Page navigation example"] {
  margin: 20px auto 100px;
  width: 400px;
}

[aria-label="Page navigation example"] a {
  width: 35px;
  height: 32px;
  margin-right: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #333333;
  border: solid 1px #d8d8d8;
}

[aria-label="Page navigation example"] a:hover {
  background-color: #f99135;
}

[aria-label="Page navigation example"] .next {
  width: 74px;
  height: 32px;
  border: solid 1px #d8d8d8;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #262426;
}

.footer .foot-top {
  height: 220px;
  padding-bottom: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}

.footer .foot-top > ul {
  margin: 0 auto;
  width: 690px;
  display: flex;
  justify-content: space-between;
}

.footer .foot-top > ul > li h3 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  list-style: none;
}

.footer .foot-top > ul > li a {
  font-size: 12px;
  color: white;
  list-style: none;
}

.footer .foot-top > ul > li > .orange {
  width: 50px;
  height: 3px;
  background-color: #f99135;
  margin-top: 10px;
  margin-bottom: 16px;
}

.footer .foot-top > ul > li .item1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 116px;
  width: 160px;
}
