body {
    margin: 0
}

a,
ul,
li,
p,
h3 {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header {
    border-bottom: 2px solid #f99135;

    .top {
        width: 100%;
        height: 40px;
        background-color: #f0f0f0;

        .top-center {
            width: 1200px;
            height: 100%;
            margin: 0 auto;

            a {
                font-family: MicrosoftYaHei;
                font-size: 14px;
                color: #9a9a9a;
                text-decoration: none;
            }

            .left {
                float: left;
                line-height: 40px;
            }

            ul {
                float: right;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: inline-block;
                    line-height: 40px;

                    a {
                        display: inline-block;
                        padding: 0px 20px;
                        line-height: 14px;
                    }
                }

                li:last-child {
                    a {
                        border-left: 1px solid #9a9a9a;
                        padding-right: 0px;
                    }
                }
            }
        }
    }

    .foot {
        width: 1200px;
        height: 90px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .foot-left {
            width: 240px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        display: inline-block;
                        position: relative;

                        span {
                            font-size: 16px;
                            color: #313131;
                        }

                        .nav-menu {
                            border: 8px solid transparent;
                            border-top-color: #313131;
                            position: absolute;
                            top: -10px;
                        }
                    }
                }
            }

        }

        .center {
            width: 500px;
            height: 100%;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                text-align: center;

                li {
                    display: inline-block;
                    line-height: 90px;

                    a {
                        display: inline-block;
                        padding: 0 20px;
                        font-size: 18px;
                        color: #1b1b1b;
                        text-decoration: none;
                    }

                    &:hover {
                        background-color: #f99135;
                    }

                    &:hover a {
                        color: #ffffff;
                    }
                }
            }
        }

        .right {
            position: relative;

            input {
                width: 340px;
                height: 44px;
                border-radius: 22px;
                border: solid 2px #f99135;
            }

            ::placeholder {
                font-size: 16px;
                color: #bfbfbf;
                padding-left: 20px;
            }

            button {
                width: 70px;
                height: 44px;
                background-color: #f99135;
                border-radius: 22px;
                border: none;
                position: absolute;
                right: 0px;
            }
        }
    }
}

.row {
    width: 1200px;
    margin: 30px auto;
    height: 795px;
    border: solid 1px #e5e5e5;
    padding: 0;

    .col-3 {
        width: 202px;
        flex: 0;
        background-color: #f4f3f4;
        border: solid 1px #e1e1e1;
        padding: 10px 0px;

        a {
            width: 200px;
            height: 40px;
            text-align: center;
            font-size: 18px;
            line-height: 25px;
            color: #333333;
            text-decoration: none;
        }

        .text {
            height: 90px;
            font-size: 22px;
            line-height: 75px;
            color: #333333;
        }


    }

    .col-9 {
        padding: 0px 40px;

        h4 {
            width: 920px;
            display: block;
            height: 75px;
            line-height: 75px;
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 30px;
            font-size: 18px;
            color: #f99135;
        }

        ul {
            border: solid 1px #e5e5e5;
            width: 920px;
            margin-bottom: 20px;

            li {

                display: flex;
            }

            .order-time {
                height: 50px;
                line-height: 50px;
                background-color: #f7f7f7;

                >span {
                    font-size: 14px;
                    color: #333333;
                }

                .date {
                    width: 132px;
                    text-align: center;
                }

                .order-id {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-size: 14px;
                        color: #999999;
                    }

                    button {
                        border: 0;
                    }
                }
            }

            .order {
                padding: 18px 15px 18px 18px;

                .movie {
                    width: 320px;
                    padding: 0px 100px 0px 5px;

                    >h5 {
                        font-size: 16px;
                        font-weight: bold;
                        color: #333333;
                    }

                    >span {
                        font-size: 12px;
                        color: #999999;
                    }

                    >p {
                        font-size: 12px;
                        color: #f99135;
                    }
                }

                h6 {
                    display: block;
                    width: 300px;
                    text-align: center;
                    line-height: 85px;
                    font-size: 14px;
                    color: #333333;
                }

                .pay {
                    padding: 15px 0;
                    width: 80px;

                    button {
                        width: 80px;
                        height: 30px;
                        border: 0;
                        background-color: #ffffff;
                    }

                    button:hover {

                        background-color: #f99135;
                        box-shadow: 0px 2px 6px 0px rgba(255, 157, 71, 0.65);
                        border-radius: 15px;
                    }
                }

            }




        }

        .message {
            display: flex;

            .right {
                width: 260px;

                button {
                    border: 0;
                    width: 182px;
                    height: 56px;
                    background-color: #e6e6e6;
                    border-radius: 10px;
                    margin: 10px 43px;
                    font-size: 18px;
                    color: #5b5b5b;
                }
            }

            form {
                padding-left: 50px;

                td {
                    height: 40px;
                    font-size: 14px;
                    line-height: 40px;
                    color: #666666;
                    padding-left: 10px;

                    span {
                        margin: 5px;
                        font-size: 16px;
                        line-height: 30px;
                        color: #333333;
                    }
                }

                button {
                    width: 100px;
                    height: 40px;
                    background-color: #f99135;
                    border-radius: 5px;
                    color: #ffffff;
                    border: 0;
                    margin:30px 50px;
                }

            }
        }

        #v-pills-messages {

            >span,
            >input {
                font-size: 16px;
                line-height: 30px;
                color: #333333;
                margin: 0px 10px 30px 0px;
            }

            >input {
                width: 253px;
                height: 34px;
                border: solid 1px #7a7a7a;
            }

            >button {
                width: 100px;
                height: 40px;
                background-color: #f99135;
                border: 0;
                border-radius: 5px;
                font-size: 18px;
                line-height: 30px;
                color: #fefefe;
                margin-left: 70px;
            }
        }

    }


}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f99135;
}






.footer {
    width: 100%;
    height: 290px;
    background-color: #262426;

    .foot-top {
        height: 220px;
        padding-bottom: 20px;
        padding-top: 30px;
        box-sizing: border-box;

        >ul {
            margin: 0 auto;
            // height: 150px;
            width: 690px;
            display: flex;
            justify-content: space-between;

            >li {

                // width: 122px;
                h3 {
                    font-size: 18px;
                    font-weight: bold;
                    color: white;
                    list-style: none;
                }

                a {
                    font-size: 12px;
                    color: white;
                    list-style: none;
                }

                >.orange {
                    width: 50px;
                    height: 3px;
                    background-color: #f99135;
                    margin-top: 10px;
                    margin-bottom: 16px;
                }

                .item1 {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    height: 116px;
                    width: 160px;
                }
            }
        }
    }
}