* {
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 2px solid #f99135;
}

.header .top {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

.header .top .top-center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header .top .top-center a {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #9a9a9a;
  text-decoration: none;
}

.header .top .top-center .left {
  float: left;
  line-height: 40px;
}

.header .top .top-center ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .top .top-center ul li {
  display: inline-block;
  line-height: 40px;
}

.header .top .top-center ul li a {
  display: inline-block;
  padding: 0px 20px;
  line-height: 14px;
}

.header .top .top-center ul li:last-child a {
  border-left: 1px solid #9a9a9a;
  padding-right: 0px;
}

.header .foot {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .foot .foot-left {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .foot .foot-left .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .foot .foot-left .nav ul li {
  display: inline-block;
  position: relative;
}

.header .foot .foot-left .nav ul li span {
  font-size: 16px;
  color: #313131;
}

.header .foot .foot-left .nav ul li .nav-menu {
  border: 8px solid transparent;
  border-top-color: #313131;
  position: absolute;
  top: -10px;
}

.header .foot .center {
  width: 500px;
  height: 100%;
}

.header .foot .center ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.header .foot .center ul li {
  display: inline-block;
  line-height: 90px;
}

.header .foot .center ul li a {
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
  color: #1b1b1b;
  text-decoration: none;
}

.header .foot .center ul li:hover {
  background-color: #f99135;
}

.header .foot .center ul li:hover a {
  color: #ffffff;
}

.header .foot .right {
  position: relative;
}

.header .foot .right input {
  width: 340px;
  height: 44px;
  border-radius: 22px;
  border: solid 2px #f99135;
}

.header .foot .right ::placeholder {
  font-size: 16px;
  color: #bfbfbf;
  padding-left: 20px;
}

.header .foot .right button {
  width: 70px;
  height: 44px;
  background-color: #f99135;
  border-radius: 22px;
  border: none;
  position: absolute;
  right: 0px;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #262426;
}

.footer a, .footer ul, .footer li, .footer p, .footer h3 {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer .foot-top {
  height: 220px;
  padding-bottom: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}

.footer .foot-top > ul {
  margin: 0 auto;
  width: 690px;
  display: flex;
  justify-content: space-between;
}

.footer .foot-top > ul > li h3 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  list-style: none;
}

.footer .foot-top > ul > li a {
  font-size: 12px;
  color: white;
  list-style: none;
}

.footer .foot-top > ul > li > .orange {
  width: 50px;
  height: 3px;
  background-color: #f99135;
  margin-top: 10px;
  margin-bottom: 16px;
}

.footer .foot-top > ul > li .item1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 116px;
  width: 160px;
}

.footer .foot-top > ul > li .item2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90px;
  width: 148px;
}

.footer .foot-top > ul > li .item3 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90px;
  width: 118px;
}

.footer .foot-top > ul > li .item4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 65px;
  width: 160px;
}

.footer .line {
  width: 100%;
  height: 1px;
  background-color: #545454;
}

.footer .foot-bottom {
  height: 35px;
  margin: 15px 0;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer .foot-bottom p {
  color: white;
  list-style: none;
  font-size: 12px;
}

.prog {
  width: 1200px;
  margin: 0 auto;
}

.prog #progressBar {
  width: 984px;
  height: 16px;
  margin: 50px auto 0;
  position: relative;
}

.prog #progressBar > span:nth-child(1) {
  left: 0%;
}

.prog #progressBar > span:nth-child(2) {
  left: 33%;
  background-color: #f99135;
}

.prog #progressBar > span:nth-child(3) {
  left: 66%;
  background-color: #f99135;
}

.prog #progressBar > span:nth-child(4) {
  left: 100%;
  background-color: #f99135;
}

.prog #progressBar > span {
  position: absolute;
  top: 0;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f99135;
  margin-left: -20px;
  color: #fff;
  text-align: center;
  line-height: 16px;
}

.prog #progressBar div {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 87%;
  left: -6px;
  margin-top: -20px;
  background-color: #ffbb7f;
}

.prog #progressBar div span {
  position: absolute;
  display: inline-block;
  background-color: #f99135;
  height: 5px;
  width: 100%;
}

.prog .prog-ft {
  width: 1088px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #999999;
}

.prog .prog-ft span {
  margin-right: 253px;
  font-size: 14px;
}

.prog .prog-ft .last {
  margin: 0;
}

.prog .prog-ft .act2 {
  color: #f99135;
}

.count-down {
  width: 1200px;
  margin: 0 auto;
  height: 110px;
  margin-top: 50px;
  background-color: #fff3f3;
  display: flex;
}

.count-down .img1 {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
}

.count-down .img1 img {
  margin-left: 30px;
}

.count-down .down {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.count-down .down .down1 {
  margin-top: 28px;
  font-size: 20px;
}

.count-down .down .down2 {
  font-size: 14px;
}

.movie {
  width: 1200px;
  margin: 40px auto 0;
  margin-bottom: 50px;
}

.movie .top {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.movie .top img {
  margin-top: -13px;
}

.movie .top p {
  padding-left: 3px;
}

.movie .top p a {
  color: #f99135;
}

.movie .body {
  width: 1200px;
  height: 188px;
  margin-top: 8px;
  border: solid 1px #e5e5e5;
}

.movie .body .r-main {
  width: 100%;
  list-style: none;
}

.movie .body .r-main .lis1 {
  width: 100%;
  height: 188px;
  border: solid 1px #e5e5e5;
}

.movie .body .r-main .lis1 .li-top {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
}

.movie .body .r-main .lis1 .li-top .date1 {
  display: flex;
}

.movie .body .r-main .lis1 .li-top .date1 span {
  font-size: 14px;
  color: #333333;
}

.movie .body .r-main .lis1 .li-top .date1 p {
  font-size: 14px;
  color: #999999;
  margin-left: 30px;
}

.movie .body .r-main .lis1 .li-top .del {
  width: 16px;
  height: 16px;
  background: url("../images/del.png");
}

.movie .body .r-main .lis1 .li-body {
  width: 100%;
  height: 138px;
  padding: 20px 15px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.movie .body .r-main .lis1 .li-body .b-left {
  display: flex;
}

.movie .body .r-main .lis1 .li-body .b-left .wz {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.movie .body .r-main .lis1 .li-body .b-left .wz h5 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-indent: -5px;
}

.movie .body .r-main .lis1 .li-body .b-left .wz p {
  font-size: 12px;
  color: #999999;
}

.movie .body .r-main .lis1 .li-body .b-left .wz span {
  font-size: 12px;
  color: #f99135;
}

.movie .body .r-main .lis1 .li-body .b-right {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.movie .body .r-main .lis1 .li-body .b-right .mid {
  margin: 0 104px 0 77px;
}

.movie .body .r-main .lis1 .li-body .b-right .b-right-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie .body .r-main .lis1 .li-body .b-right .b-right-r .fk {
  width: 80px;
  height: 30px;
  background-color: #f99135;
  box-shadow: 0px 2px 6px 0px rgba(255, 157, 71, 0.65);
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.movie .body .r-main .lis1 .li-body .b-right .b-right-r .xq {
  padding-top: 10px;
  color: #333;
}
